.App {
  text-align: center;
}

.kanjiWrapper {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: lightgray;
  padding: 10px;
  row-gap: 5px;
}

.kanjiCube {
  text-align: center;
  padding: 15px;
  border: 2px solid black;
  font-size: 6em;
  color: red;
}