.App {
  background-color: darkgray;
  text-align: center;
}

.kanjiWrapper {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: lightgray;
  padding: 10px;
  column-gap: 15px;
  margin: 25px;
}

.kanjiCube {
  text-align: center;
  padding: 15px;
  border: 2px solid black;
  font-size: 6em;
  color: rgb(194, 3, 3);
}

.answer {
  background-color: gold;
  padding: 10px;
  color: darkred;
  text-align: center;
  display: block;
}

#kanjiTitle {
  color: darkred;
}